<div>
  <div>Order by</div>
  <div class="order-button-group">
    <button class="button" type="button" (click)="sortTariffs('downloadSpeed', 'ASC')">Download speed &uarr;</button>
    <button class="button" type="button" (click)="sortTariffs('downloadSpeed', 'DESC')">Download speed &darr;</button>
  </div>
  <div class="order-button-group">
    <button class="button" type="button" (click)="sortTariffs('uploadSpeed', 'ASC')">Upload speed &uarr;</button>
    <button class="button" type="button" (click)="sortTariffs('uploadSpeed', 'DESC')">Upload speed &darr;</button>
  </div>
  <div class="order-button-group">
    <button class="button" type="button" (click)="sortTariffs('price', 'ASC')">Price &uarr;</button>
    <button class="button" type="button" (click)="sortTariffs('price', 'DESC')">Price &darr;</button>
  </div>    
</div>
<div class="tariffs-list">
  <div *ngFor="let tariff of tariffs$ | async" class="tariff-item">
    <div class="column-tariff-id">
        {{tariff.id}}
    </div>
    <div class="column-tariff-name">
        {{tariff.name}}
    </div>
    <div class="column-speeds">
        <span class="download-label">Download</span>
        <div class="download-block">
            <button class="button button-green" type="button">&darr;</button>
            <span class="speed-label">{{tariff.downloadSpeed}} Mbit/s</span>
        </div>
        <span class="upload-label">Upload</span>
        <div>
            <button class="button button-green" type="button">&uarr;</button>
            <span class="speed-label">{{tariff.uploadSpeed}} Mbit/s</span>
        </div>
    </div>
    <div class="column-benefits">
        <div *ngFor="let benefit of tariff.benefits">
          <p>{{benefit}}</p>
        </div>
    </div>
    <div class="column-price">
        <div class="bold-text price">
          {{tariff.price | currency: 'EUR'}}
        </div>
        <div>
            <button class="button button-green" type="button">
              <span class="to-tariff">To tariff</span> >
            </button>
        </div>
    </div>
  </div>
</div>
