$color-green: #43C386;
$color-dark-gray: #2e364f;
$color-gray: #9CA0AD;
$color-light-gray: #fafafa;

body {
    margin: 20px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: $color-dark-gray;

    .button {
        background: $color-light-gray;
        padding: 8px 10px;
        margin: 0;
        min-width: 50px;
        outline: none;
        border: none;
        font-family: inherit;
        font-size: inherit;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.5s;
    }

    .button-green {
        background: $color-green;
        color: #ffffff;

        &:hover {
            background: lighten($color-green, 10%);
        }
    }

    .button-light {
        background: linear-gradient(to bottom right, #fce4ed, #ffe8cc);

        &:hover {
            background: linear-gradient(to top left, #fce4ed, #ffe8cc);
        }
    }

    .button-bright {
        background: linear-gradient(to bottom right, #da1b60, #ff8a00);
        color: #FFFFFF;

        &:hover {
            background: linear-gradient(to top left, #da1b60, #ff8a00);
        }
    }

    .bold-text {
        font-weight: bold;
    }

    .break-word {
        word-break: break-word;
    }
}
